{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>泰信科技</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/css/bootstrap.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "stylesheets/theme.css" %}">
    <link rel="stylesheet" href="{% static "lib/font-awesome/css/font-awesome.css" %}">
    <script src="{% static "lib/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "lib/highcharts.js" %}" type="text/javascript"></script>
   <script>$(function () {
    var i = 1,chart;

    $('#container-test').highcharts({
        subtitle: {
            text: 'Subtitle'
        },

        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },

        series: [{
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
        }

        ]

    });
    chart = $('#container-test').highcharts();

    $("button.change").click(function(){
    	var index = $(this).attr("index");

      if(index == "title") {
      	chart.setTitle( {text: 'New title '+ i++ });// 更新标题的文字
      }

      else if(index == "title2") {
          chart.setTitle(
          	{ style: { color: 'red' }},	// 更新标题的颜色
          	{ style: { color: '#760000' }}	// 更新副标题的颜色
      		);

      }else if(index == "subtitle") {
          chart.setTitle(null, { text: 'New title '+ i++ });

      } else {
      	// 标题包含HTML标签
        chart.setTitle({ text: "<a href='http://www.hcharts.cn'>Highcharts中文网</a>",useHTML:true });
      }
    });

});</script>
    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav pull-right">

            <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">功能未添加</a></li>
            <li id="fat-menu" class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user"></i> {{ username }}
                    <i class="icon-caret-down"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">我的账户</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" class="visible-phone" href="#">setting</a></li>
                    <li class="divider visible-phone"></li>
                    <li><a tabindex="-1" href="{% url 'gaga.views.logout'%}">注销</a></li>
                </ul>
            </li>

        </ul>
        <a class="brand"><span class="first">APEX</span> <span class="second">泰信科技</span></a>
    </div>
</div>


<div class="sidebar-nav">
    <form class="search form-inline">
        <input type="text" placeholder="查找...">
    </form>

    <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>资源管理<i class="icon-chevron-up"></i></a>
    <ul id="dashboard-menu" class="nav nav-list collapse in">
        <li><a href="/index/">首页</a></li>
        <li><a href="../testresource/">资源列表</a></li>
        <li><a href="../applyforresource/">资源申请</a></li>
        <li><a href="../repository/">知识库wiki</a></li>
        <li><a href=".">文件服务器</a></li>
    </ul>
 <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>爬虫<i class="icon-chevron-up"></i></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">1</a></li>
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">2</a></li>
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">3</a></li>
        </ul>

        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i> Devops<i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">Saltstack</a></li>
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">Zabbix</a></li>
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">Cobbler</a></li>

        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>统一终端<i class="icon-chevron-up"></i></a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li ><a href="{% url 'gaga.views.noreal'%}" target="_blank">Windows远程桌面</a></li>
            <li ><a href="https://192.168.0.174" target="_blank">webSSH</a></li>
        </ul>

    <a href="#" class="nav-header"><i class="icon-question-sign"></i>帮助</a>

</div>


<div class="content">

    <div class="header">

        <h1 class="page-title">文件服务器</h1>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">

            <div class="btn-toolbar">
                <button class="btn btn-primary">服务器状态</button>
                <div class="btn-group">
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>资源类型</th>
                        <th>资源状态</th>

                        <th style="width: 26px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>磁盘使用率</td>
                        <td>{{ obj.disk_useage }}</td>

                        <td>
                            <a href="user.html"><i class="icon-pencil"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Samba服务状态</td>
                        <td>{{ obj.smb_status}}</td>

                        <td>

                            <a href="user.html"><i class="icon-pencil"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Raid状态</td>
                        <td>{{obj.raid_status}}</td>

                        <td>
                            <a href="user.html"><i class="icon-pencil"></i></a>
                            <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="container-test" style="min-width:600px;height:300px"></div>
            <div class="pagination">
                <ul>
                    <li><a href="#">前一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">后一页</a></li>
                </ul>
            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">删除监控项</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>确定要删除这个监控项?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn btn-danger" data-dismiss="modal">删除</button>
                </div>
            </div>


            <footer>
                <hr>
                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->

                <p>&copy; 2014</p>
            </footer>

        </div>
    </div>
</div>


<script src="{% static "lib/bootstrap/js/bootstrap.js" %}"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>

</body>
</html>


